* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #db1010; */
  background-color: #000000;
  background-image: url(atm3.pngs);
  background-size: 485px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 440px 24px;
  z-index: 500;
}

/* .atmimage {
  margin: auto;
  display: block;
  width: 600px;
} */

.rectangulo {
  display: inline-block;
  z-index: 1;
  width: 380px;
  height: 280px;
  background-color: rgb(179, 179, 179);
  border-width: 2px;
  border-color: #2e2e2e;
  border-style: solid;
  align-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -122px;
  margin-left: -194px;
  border-radius: 10px;
}

.intermitenteVerde {
  display: inline-block;
  z-index: 1;
  width: 203px;
  height: 9px;
  border-width: 8px;
  border-color: #78df24;
  border-style: solid;
  align-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: 245px;
  margin-left: -215px;
  animation: blinker 1s linear infinite;
}

.intermitenteRojo {
  display: inline-block;
  z-index: 1;
  width: 203px;
  height: 9px;
  border-width: 8px;
  border-color: #db1010;
  border-style: solid;
  align-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: 245px;
  margin-left: -215px;
  animation: blinker2 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker2 {
  50% {
    opacity: 0;
  }
}

.cargando {
  display: block;
  align-content: center;
  margin-top: 100px;
  margin-left: 130px;
  color: #ffffff;
}

.cargandoB {
  display: block;
  align-content: center;
  margin-top: 100px;
  /* margin-left: 20px; */
  margin-left: 40px;
  color: #ffffff;
  font-size: medium;
}

.pantallaLogin {
  margin: 125px;
  align-content: center;
  display: inline-block;
  z-index: 500;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
  color: #db1010;
}

.bienvenida {
  color: #2e2e2e;
}

#campoNombre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: inline-block;
}

#campoPass {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: inline-block;
}

.botonAceptar {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* align-self: center; */
  /* margin-left: 20px; */
  background-color: #db1010; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.botonAceptar:hover {
  background-color: #2e2e2e;
  /* transition: 0.3s; */
}

.pantallaMain {
  /* margin: 100px; */
  align-content: center;
  display: inline-block;
  z-index: 500;
  position: fixed;
  top: 24%;
  left: 47%;
  margin-top: -25px;
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  /* s */
  padding: 5px;
  font-size: small;
  color: #ffffff;
  background-color: #db1010;
}

.saldoDisponible {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: inline-block;
}

#saldoDebito {
  text-decoration: none;
  font-size: 12px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 6px;
  font-size: small;
  font-weight: bold;
  color: #db1010;
}

#buttonRetirar {
  background-color: #db1010; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

#buttonRetirar:hover {
  background-color: #2e2e2e;
}

#buttonDepositar {
  background-color: #db1010; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

#buttonDepositar:hover {
  background-color: #2e2e2e;
}

.botonSalir {
  background-color: #2e2e2e; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 50px;
  cursor: pointer;
}

.botonSalir:hover {
  color: #5e5e5e;
}

.pantallaRetirar {
  /* margin: 100px; */
  align-content: center;
  display: inline-block;
  z-index: 500;
  position: fixed;
  top: 24%;
  left: 47%;
  margin-top: -10px;
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.pantallaDepositar {
  /* margin: 100px; */
  align-content: center;
  display: inline-block;
  z-index: 500;
  position: fixed;
  top: 24%;
  left: 47%;
  margin-top: -10px;
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#retirarSubtitulo {
  margin-top: -20px;
}

/* #retirarSubtitulo2 {
  margin-top: -0px;
} */

.botonRetirar {
  background-color: #db1010; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  font-size: 12px;
  margin-left: 0px;
  margin-top: 30px;
  cursor: pointer;
}

.botonRegresar {
  background-color: #5e5e5e; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  font-size: 12px;
  margin-left: 59px;
  margin-top: 10px;
  cursor: pointer;
}

.botonCerrarSesion {
  background-color: #2e2e2e; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  font-size: 12px;
  margin-left: 0px;
  margin-top: 10px;
  cursor: pointer;
}

.botonDepositar {
  background-color: #db1010; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  font-size: 12px;
  margin-left: 0px;
  margin-top: 30px;
  cursor: pointer;
}

/* 
#boton01 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 173px;
  left: 452px;
  align-content: center;
  border-style: solid;
  z-index: 450px;
}

#boton02 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 213px;
  left: 452px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton03 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 253px;
  left: 452px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton04 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 293px;
  left: 452px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton05 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 173px;
  left: 886px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton06 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 213px;
  left: 886px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton07 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 253px;
  left: 886px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
}

#boton08 {
  height: 23px;
  position: fixed;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 1px;
  border-radius: 20%;
  top: 293px;
  left: 886px;
  align-content: center;
  border-style: solid;
  z-index: 400px;
} */
